body {
    background-color: #2c3365;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

.board {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    align-content: start;
    width: 100%;
    min-height: 100vh;
    padding: 5px;    
    box-sizing: border-box;
    &__controls {
        position: fixed;
        bottom: 50px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .board {
        grid-template-columns: repeat(7, 1fr);
    }
}
@media (min-width: 1100px) {
    .board {
        grid-template-columns: repeat(10, 1fr);
    }
}


